Repository Landry333/Big-Owl, pull requests merged in 2020-10, with the labels that each got.

#41 Create and setup environment
  BigOwlApp/.gitignore
  BigOwlApp/app/.gitignore
  BigOwlApp/app/build.gradle
  BigOwlApp/app/google-services.json
  BigOwlApp/app/proguard-rules.pro
  BigOwlApp/app/src/androidTest/java/com/example/bigowlapp/ExampleInstrumentedTest.java
  BigOwlApp/app/src/main/AndroidManifest.xml
  BigOwlApp/app/src/main/java/com/example/bigowlapp/HomeActivity.java
  BigOwlApp/app/src/main/java/com/example/bigowlapp/LoginActivity.java
  BigOwlApp/app/src/main/java/com/example/bigowlapp/MainActivity.java
  BigOwlApp/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  BigOwlApp/app/src/main/res/drawable/ic_launcher_background.xml
  BigOwlApp/app/src/main/res/layout/activity_home.xml
  BigOwlApp/app/src/main/res/layout/activity_login.xml
  BigOwlApp/app/src/main/res/layout/activity_main.xml
  BigOwlApp/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  BigOwlApp/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  BigOwlApp/app/src/main/res/mipmap-hdpi/ic_launcher.png
  BigOwlApp/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  BigOwlApp/app/src/main/res/mipmap-mdpi/ic_launcher.png
  BigOwlApp/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  BigOwlApp/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  BigOwlApp/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  BigOwlApp/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  BigOwlApp/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  BigOwlApp/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  BigOwlApp/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  BigOwlApp/app/src/main/res/values/colors.xml
  BigOwlApp/app/src/main/res/values/strings.xml
  BigOwlApp/app/src/main/res/values/styles.xml
  BigOwlApp/app/src/test/java/com/example/bigowlapp/ExampleUnitTest.java
  BigOwlApp/build.gradle
  BigOwlApp/gradle.properties
  BigOwlApp/gradle/wrapper/gradle-wrapper.jar
  BigOwlApp/gradle/wrapper/gradle-wrapper.properties
  BigOwlApp/gradlew
  BigOwlApp/gradlew.bat
  BigOwlApp/settings.gradle
Labels: technical story

#74 #58 data models
  .github/workflows/build.yaml
  README.md
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/bigowlapp/HomeActivity.java
  app/src/main/java/com/example/bigowlapp/database/Firestore.java
  app/src/main/java/com/example/bigowlapp/model/Group.java
  app/src/main/java/com/example/bigowlapp/model/Notification.java
  app/src/main/java/com/example/bigowlapp/model/Schedule.java
  app/src/main/java/com/example/bigowlapp/model/User.java
  app/src/main/java/com/example/bigowlapp/repository/GroupRepository.java
  app/src/main/java/com/example/bigowlapp/repository/Repository.java
  app/src/main/java/com/example/bigowlapp/repository/UserRepository.java
  gradlew
Labels: user story

#76 #8 #57 finishing the skeleton for monitoring & supervised group
  .gitignore
  .idea/.name
  .idea/codeStyles/Project.xml
  .idea/gradle.xml
  .idea/jarRepositories.xml
  .idea/misc.xml
  .idea/vcs.xml
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/bigowlapp/HomeActivity.java
  app/src/main/java/com/example/bigowlapp/MonitoringGroupPageActivity.java
  app/src/main/java/com/example/bigowlapp/SupervisedGroupListActivity.java
  app/src/main/java/com/example/bigowlapp/SupervisedGroupPageActivity.java
  app/src/main/java/com/example/bigowlapp/ViewAnotherUserActivity.java
  app/src/main/java/com/example/bigowlapp/model/Group.java
  app/src/main/res/layout/activity_home.xml
  app/src/main/res/layout/activity_monitoring_group_page.xml
  app/src/main/res/layout/activity_supervised_group_list.xml
  app/src/main/res/layout/activity_supervised_group_page.xml
  app/src/main/res/values/strings.xml
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: UI, enhancement, user story

#83 [#61, #40] test coverage implementation and converting to Github Actions
  .github/workflows/build.yaml
  .travis.yml
  README.md
  app/build.gradle
  app/src/androidTest/java/com/example/bigowlapp/ExampleInstrumentedTest.java
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: technical story
